*.pyc
*.log
node_modules
coverage/
mahs/logs
mahs/export_deliverables
mahs/cantaloupe/*
mahs/staticfiles
mahs/media/packages
mahs/media/build/
mahs/uploadedfiles/*
mahs/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json

nohup.out
*.mapping
*.csv
imports/
