{% load template_tags %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Report</title>
      {% include 'html_export/milligram.htm' %}
      {% include 'html_export/custom_style.htm' %}

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
   </head>

   <body>
      {% for resource in resources %}
      {% with resource_data=resource.resource %}

      <header>
         {% include 'html_export/custom_header.htm' %}
      </header>
      
      <main>
         <div class="arches-link-container">  
            <a class="arches-link" href="/resource/{{ resource.resourceinstanceid }}">
               <u>Actor - {{ resource.displayname }}</u>
            </a>
         </div>  

         <div class="title-container">
            <h1>{{ resource.displayname }}</h1>
            <h1>Overview</h1>
         </div>

         {% with mahs_id=resource_data|val_from_key:"MAHS ID"|val_from_key:"@display_value" %}
            <div class="data-table mahs-id-container">
               <div class="mahs-id">MAHS ID</div>
               <div>: {{ mahs_id }}</div>
            </div>
         {% endwith %}

         {# --- Names Section --- #}
         {% if resource_data|has_key:"Actor Apellation" %}
            <section class="keeptogether">
               {% with name=resource_data|val_from_key:"Actor Apellation"|val_from_key:"@display_value" %}
                  {% if name %}
                     <div class="data-table">
                        <div>Actor Apellation</div>
                        <div>: {{ name }}</div>
                     </div>
                  {% endif %}
               {% endwith %}
            </section>
         {% endif %}

         {# --- Activity Section --- #}
         {% if resource_data|has_key:"Activity" %}
            <section class="keeptogether">
               <hr>
               <h3>Activity</h3>
               {% with activity=resource_data|val_from_key:"Activity" %}

                  {% with type=activity|val_from_key:"Actor Type"|val_from_key:"@display_value" %}
                     {% if type %}
                        <div class="data-table">
                           <div>Actor Type</div>
                           <div>: {{type}}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
                  
                  {% with role=activity|val_from_key:"Role"|val_from_key:"@display_value" %}
                     {% if role %}
                        <div class="data-table">
                           <div>Role</div>
                           <div>: {{role}}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
                  
                  {% with country=activity|val_from_key:"Country of Activity"|val_from_key:"@display_value" %}
                     {% if country %}
                        <div class="data-table">
                           <div>Country of Activity</div>
                           <div>: {{country}}</div>
                        </div>
                     {% endif %}
                  {% endwith %}

               {% endwith %}
            </section>
         {% endif %}

         {# --- Images --- #}
         {% if resource_data|has_key:"Information Carrier 3" %}
            <section class="keeptogether">
               <hr>
               <h3>Images</h3>
               {% with carrier=resource_data|val_from_key:"Information Carrier 3" %}

                  {% with caption=carrier|val_from_key:"Caption"|val_from_key:"@display_value" %}
                     {% if caption %}
                        <div class="data-table">
                           <div>Caption</div>
                           <div>: {{ caption }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
                  
                  {% for file in carrier|val_from_key:"Information Carrier"|val_from_key:"file_details" %}
                     {% with url=file|val_from_key:"url" %}
                        <h4>{{file|val_from_key:"name"}}</h4>
                        <img src="{{url}}">
                     {% endwith %}
                  {% endfor %}

               {% endwith %}

            </section> 
         {% endif %}

         {# --- Reference Section --- #}
         {% if resource_data|has_key:"Reference" %}
            <section class="keeptogether">
               <div class="title-container">
                  <h1>References</h1>
               </div>
               {% with name=resource_data|val_from_key:"Reference"|val_from_key:"URL"|val_from_key:"@display_value"|json_to_obj|val_from_key:"url" %}
                  {% if name %}
                     <div class="data-table">
                        <div>Reference</div>
                        <div>: {{ name }}</div>
                     </div>
                  {% endif %}
               {% endwith %}

               {% with note=resource_data|val_from_key:"Reference"|val_from_key:"Note"|val_from_key:"@display_value" %}
                  {% if note %}
                     <div class="data-table">
                        <div>Reference Note</div>
                        <div>: {{ note }}</div>
                     </div>
                  {% endif %}
               {% endwith %}
            </section>
         {% endif %}

         {# --- ResourceID section --- #}
         <section class="keeptogether">
            <div class="h1-container">
               <h1>Resource ID</h1>
            </div>
            <p class="content">{{ resource.resourceinstanceid }}</p>

         </section> 

         </main>
         {% endwith %}
         {% endfor %}
      </body>
      </html>