{% load template_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Report</title>
        {% include 'html_export/milligram.htm' %}
        {% include 'html_export/custom_style.htm' %}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    </head>

    <body>
        {% for resource in resources %}
        {% with resource_data=resource.resource %}

        <header>
            {% include 'html_export/custom_header.htm' %}
        </header>

    <main>
        <div class="arches-link-container">  
            <a class="arches-link" href="/resource/{{ resource.resourceinstanceid }}">
                <u>Site - {{ resource.displayname }}</u>
            </a>
        </div>  

        <div class="title-container">
            <h1>{{ resource.displayname }}</h1>
            <h1>Overview</h1>
        </div>

        {% with mahs_id=resource_data|val_from_key:"MAHS ID"|val_from_key:"@display_value" %}
        <div class="data-table mahs-id-container">
            <div class="mahs-id">MAHS ID</div>
            <div>: {{ mahs_id }}</div>
        </div>
        {% endwith %}

        {# --- Title Section --- #}
        {% if resource_data|has_key:"Title" %}
        <section class="keeptogether">
            {% for title  in resource_data|val_from_key:"Title" %}
                <div class="data-table mahs-id-container">
                    <div>{{title|val_from_key:"Title Type"|val_from_key:"@display_value"}}</div>
                    <div>: {{ title|val_from_key:"@display_value" }}</div>
                </div>
            {% endfor %}
        </section>
        {% endif %}

        {# --- Digital Asset Type --- #}
        {% if resource_data|has_key:"Digital Asset Type" or resource_data|has_key:"Keyword" %}
        <section class="keeptogether">
            <div class="h1-container">
                <h1>Classification</h1>
            </div>
            {% for item in resource_data|val_from_key:"Digital Asset Type" %}
            
                {% with type=item|val_from_key:"@display_value" %}
                    {% if type %}
                        <div class="data-table">
                            <div>Digital Asset Type</div>
                            <div>: {{ type }}</div>
                        </div>
                    {% endif %}
                {% endwith %}

            {% endfor %}

            {% with keyword=resource_data|val_from_key:"Keyword"|val_from_key:"@display_value" %}
                {% if keyword %}
                    <div class="data-table">
                        <div>Keywords</div>
                        <div>: {{ keyword }}</div>
                    </div>
                {% endif %}
            {% endwith %}

        </section>
        {% endif %}

        {# --- Descriptions Section --- #}
        {% if resource_data|has_key:"Description Assignment"%}
        <section">
            {% with desc=resource_data|val_from_key:"Description Assignment" %}
                {% if desc|val_from_key:"Description Type"|val_from_key:"value" != "Acknowledgement" %}   
                <hr>
                <div class="keeptogether">
                    <h3>{{desc|val_from_key:"Description Type"|val_from_key:"value"}}</h3>
                    <div class="content-container">
                        <p>{{ desc|val_from_key:"Description"|val_from_key:"@display_value"|safe }}</p>
                    </div>
                </div>
                {% endif %}
            {% endwith %}
        </section>
        {% endif %}

        {# --- Creation Section --- #}
        {% if resource_data|has_key:"Place of Data Collection" %}
        
        <section class="keeptogether">
            <hr>
            <h3>Data Collection</h3>
            {% with place=resource_data|val_from_key:"Place of Data Collection" %}
                {% if place %}

                    {% with place_site=place|val_from_key:"Site of Data Collection"|val_from_key:"@display_value" %}
                        {% if place_site %}
                            <div class="data-table">
                                <div>Place Site</div>
                                <div>: {{ place_site }}</div>
                            </div>

                            {% with resourceId=place|val_from_key:"Site of Data Collection"|val_from_key:"resourceId" %}
                                <a class="content" href="/resource/{{ resourceId }}">
                                    /resource/{{ resourceId }}
                                </a>
                            {% endwith %}
                        {% endif %}
                    {% endwith %}

                    {% with place_long=place|val_from_key:"Longitude"|val_from_key:"@display_value" %}
                        {% if place_long %}
                            <div class="data-table">
                                <div>Longitude</div>
                                <div>: {{ place_long }}</div>
                            </div>
                        {% endif %}
                    {% endwith %}

                    {% with place_lat=place|val_from_key:"Latitude"|val_from_key:"@display_value" %}
                        {% if place_lat %}
                            <div class="data-table">
                                <div>Latitude</div>
                                <div>: {{ place_lat }}</div>
                            </div>
                        {% endif %}
                    {% endwith %}

                {% endif %}
            {% endwith %}

            {% if resource_data|has_key:"Digital Asset Production Event" %}
                {% for actor in resource_data|val_from_key:"Digital Asset Production Event"|val_from_key:"Digital Asset Created By"|val_from_key:"instance_details" %}
                    <div class="data-table">
                        <div>Digital Asset Created By</div>
                        <div>: {{actor|val_from_key:"display_value"}}</div>
                    </div>

                    <a class="content" href="/resource/{{ actor|val_from_key:"resourceId" }}">
                        /resource/{{ actor|val_from_key:"resourceId" }}
                    </a>
                {% endfor %}
            {% endif %}

            {% if resource_data|has_key:"Data Collection Event" %}
                {% with collector=resource_data|val_from_key:"Data Collection Event"|val_from_key:"Data Collected By"|val_from_key:"@display_value" %}
                    {% if collector %}
                        <div class="data-table">
                            <div>Collected by</div>
                            <div>: {{ collector }}</div>
                        </div>
                    {% endif %}
                {% endwith %}

                {% with date=resource_data|val_from_key:"Data Collection Event"|val_from_key:"Date of Data Collection"|val_from_key:"@display_value" %}
                    {% if date %}
                        <div class="data-table">
                            <div>Date of Collection</div>
                            <div>: {{ date }}</div>
                        </div>
                    {% endif %}
                {% endwith %}
            {% endif %}

        </section>
        {% endif %}

        {# --- Publication Section --- #}
        {% if resource_data|has_key:"Digital Asset Publication Event" %}
        <section class="keeptogether">
            <hr>
            <h3>Publication</h3>
            
            {% with event=resource_data|val_from_key:"Digital Asset Publication Event" %}

                {% with asset_url=event|val_from_key:"Published Digital Asset - Other Platform"|val_from_key:"Published Digital Asset URL - non-localized"|val_from_key:"@display_value" %}
                    {% if asset_url %}
                        <div class="data-table">
                            <div>Digital Asset URL</div>
                            <div>: {{ asset_url }}</div>
                        </div>
                    {% endif %}
                {% endwith %}

                {% with sketchfab_url=event|val_from_key:"Published Digital Asset - Sketchfab"|val_from_key:"Embedded Sketchfab URL - non-localized"|val_from_key:"@display_value" %}
                    {% if sketchfab_url %}
                        <div class="data-table">
                            <div>Sketchfab URL</div>
                            <div>: {{ sketchfab_url }}</div>
                        </div>
                    {% endif %}
                {% endwith %}

                {% with youtube_url=event|val_from_key:"Published Digital Asset - Youtube"|val_from_key:"Embedded YouTube URL - non-localized"|val_from_key:"@display_value" %}
                    {% if youtube_url %}
                        <div class="data-table">
                            <div>YouTube URL</div>
                            <div>: {{ youtube_url }}</div>
                        </div>
                    {% endif %}
                {% endwith %}

                {% with pub_date=event|val_from_key:"Date of Publication"|val_from_key:"@display_value" %}
                    {% if pub_date %}
                        <div class="data-table">
                            <div>Date of Publication</div>
                            <div>: {{ pub_date }}</div>
                        </div>
                    {% endif %}
                {% endwith %}

                {% with pub_note=event|val_from_key:"Published Digital Asset - Other Platform"|val_from_key:"Publication Note - Other Platform"|val_from_key:"@display_value" %}
                    {% if pub_note %}
                        <div class="data-table">
                            <div>Publication Note - Other Platform</div>
                            <div>: {{ pub_note }}</div>
                        </div>
                    {% endif %}
                {% endwith %}

            {% endwith %}
        </section>
        {% endif %}

        {# --- Information Carrier --- #}
        {% if resource_data|has_key:"Information Carrier 2" %}
            <section class="keeptogether">
                <hr>
                <h3>Images and files</h3>
                {% for item in resource_data|val_from_key:"Information Carrier 2" %}

                    {% with caption=item|val_from_key:"Caption"|val_from_key:"@display_value" %}
                        {% if caption %}
                        <h4>Caption</h4>
                        <p class="content">{{ caption }}</p>
                        {% endif %}
                    {% endwith %}
                    
                    {% for file in item|val_from_key:"Information Carrier"|val_from_key:"file_details" %}
                        {% if file|val_from_key:"type" == "image/jpeg" %}
                            {% with url=file|val_from_key:"url" %}
                                <h4>Image: {{file|val_from_key:"name"}}</h4>
                                <img src="{{url}}">
                            {% endwith %}
                        {% endif %}

                        {% if file|val_from_key:"type" == "application/pdf" %}
                            {% with url=file|val_from_key:"url" %}
                                <h4>File: {{file|val_from_key:"name"}}</h4>
                                <a class="content" href="{{url}}">{{url}}</a>
                            {% endwith %}
                        {% endif %}
                        {% endfor %}
                {% endfor %}
            </section> 
        {% endif %}

        {# --- External Identifiers Section --- #}
        {% if resource_data|has_key:"External Identifier 4" %}
            <section class="keeptogether">
                <div class="h1-container">
                    <h1>External Identifiers</h1>
                </div>
                    {% with xref=resource_data|val_from_key:"External Identifier 4" %}
                        <div class="data-table">
                            <div>External Xref</div>
                            <div>: {{xref|val_from_key:"@display_value"}}</div>
                        </div>
                        
                        <div class="data-table">
                            <div>External Source</div>
                            <div>: {{xref|val_from_key:"External Source"|val_from_key:"@display_value"}}</div>
                        </div>
                        
                        <div class="data-table">
                            <div>External Identifier Type</div>
                            <div>: {{xref|val_from_key:"External Identifier Type"|val_from_key:"@display_value"}}</div>
                        </div>
                        
                        {% with url=xref|val_from_key:"External Identifier URL"|val_from_key:"@display_value"|json_to_obj|val_from_key:"url" %}
                            {% if url %}
                                <h4>URL</h4>
                                <p class="content">{{ url }}</p>
                            {% endif %}
                        {% endwith %}
                        
                        {% with x_desc=item|val_from_key:"External Reference Description Assignment"|val_from_key:"Note on External Reference or Source"|val_from_key:"@display_value" %}
                            {% if x_desc %}
                                <h4>Description</h4>
                                <p class="content">{{ x_desc }}</p>
                            {% endif %}
                        {% endwith %}
                    {% endwith %}
            </section>   
        {% endif %}

        {# --- Copyrite Section --- #}
        {% if resource_data|has_key:"Copyright Assignment" %}
        <section class="keeptogether">
            <hr>
            <h3>Copyright Assignment</h3>

            {% with copyright=resource_data|val_from_key:"Copyright Assignment"|val_from_key:"Copyright"|val_from_key:"@display_value" %}
                {% if copyright %}
                    <div class="keeptogether">
                        <h4>Copyright</h3>
                        <p class="content">{{ copyright }}</p>
                    </div>
                {% endif %}
            {% endwith %}

        </section>
        {% endif %}

        {# --- Related Sites section --- #}
        {% if resource_data|has_key:"Related Site" %}
            <section class="keeptogether">
                <hr>
                <h3>Related Sites</h3>
                <ul>
                    {% for linked_resource in resource_data|val_from_key:"Related Site"|val_from_key:"instance_details" %}
                    <li>
                        <h4>{{ linked_resource|val_from_key:"display_value" }}</h4>
                        <a class="content" href="/resource/{{ linked_resource|val_from_key:'resourceId' }}">
                            /resource/{{ linked_resource|val_from_key:'resourceId' }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </section> 
        {% endif %}

        {# --- Related Objects section --- #}
        {% if resource_data|has_key:"Related Object" %}
            <section class="keeptogether">
                <hr>
                <h3>Related Objects</h3>
                <ul>
                    {% for linked_resource in resource_data|val_from_key:"Related Object" %}
                    {% for link in linked_resource|val_from_key:"instance_details" %}
                        <li>
                            <h4>{{ link|val_from_key:"display_value" }}</h4>
                            <a class="content" href="/resource/{{ link|val_from_key:'resourceId' }}">
                                /resource/{{ link|val_from_key:'resourceId' }}
                            </a>
                        </li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </section> 
        {% endif %}

        {# --- Related Features section --- #}
        {% if resource_data|has_key:"Related Feature" %}
        <section class="keeptogether">
            <hr>
            <h3>Related Feature</h3>
            {% for linked_resource in resource_data|val_from_key:"Related Feature"|val_from_key:"instance_details" %}
                <ul>
                    <li>
                    <h4>{{ linked_resource|val_from_key:"display_value" }}</h4>
                    <a class="content" href="/resource/{{ linked_resource|val_from_key:'resourceId' }}">
                        /resource/{{ linked_resource|val_from_key:'resourceId' }}
                    </a>
                    </li>
                </ul>   
            {% endfor %}
            </section> 
        {% endif %}

        {# --- Related Digital Asset Section --- #}
        {% if resource_data|has_key:"Related Digital Asset" %}
        <section class="keeptogether">
            <hr>
            <h3>Related Digital Asset</h3>
            {% for linked_resource in resource_data|val_from_key:"Related Digital Asset"|val_from_key:"instance_details" %}
                <ul>
                    <li>
                        <h4>{{ linked_resource|val_from_key:"display_value" }}</h4>
                        <a class="content" href="/resource/{{ linked_resource|val_from_key:'resourceId' }}">
                            /resource/{{ linked_resource|val_from_key:'resourceId' }}
                        </a>
                    </li>
                </ul>
            {% endfor %}
            </section> 
        {% endif %}

        {# --- ResourceID section --- #}
        <section class="keeptogether">
            <div class="h1-container">
                <h1>Resource ID</h1>
            </div>
            <p class="content">{{ resource.resourceinstanceid }}</p>
        </section> 

        {# --- Related Collections section --- #}
        {% if resource_data|has_key:"Related Collection" %}
            <section class="keeptogether">
                <hr>
                <h3>Related Collection</h3>
                {% with collection=resource_data|val_from_key:"Related Collection" %}
                <ul>
                    <li>
                    <h4>{{ collection|val_from_key:"@display_value" }}</h4>
                    <a class="content" href="/resource/{{ collection|val_from_key:'resourceId' }}">
                        /resource/{{ collection|val_from_key:'resourceId' }}
                    </a>
                    </li>
                </ul>
                {% endwith %}
            </section> 
        {% endif %}

        </main>
        {% endwith %}
        {% endfor %}
    </body>
    </html>