{% load template_tags %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Report</title>
      {% include 'html_export/milligram.htm' %}
      {% include 'html_export/custom_style.htm' %}

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
   </head>

   <body>
      {% for resource in resources %}
      {% with resource_data=resource.resource %}

      <header>
         {% include 'html_export/custom_header.htm' %}
      </header>
      
      <main>
         <div class="arches-link-container">  
            <a class="arches-link" href="/resource/{{ resource.resourceinstanceid }}">
               <u>Site - {{ resource.displayname }}</u>
            </a>
         </div>  

         <div class="title-container">
            <h1>{{ resource.displayname }}</h1>
            <h1>Overview</h1>
         </div>

         {% with mahs_id=resource_data|val_from_key:"MAHS ID"|val_from_key:"@display_value" %}
            <div class="data-table mahs-id-container">
               <div class="mahs-id">MAHS ID</div>
               <div>: {{ mahs_id }}</div>
            </div>
         {% endwith %}

         {# --- Names Section --- #}
         {% if resource_data|has_key:"Name" %}
            <section class="keeptogether">
               <ul>
                     {% for name in resource_data|val_from_key:"Name" %}
                        <li>
                           <div class="data-table">
                              <div>{{name|val_from_key:"Name Type"|val_from_key:"value"}}</div>
                              <div>: {{ name|val_from_key:"@display_value" }}</div>
                           </div>
                        </li>
                     {% endfor %}
               </ul>
            </section>
         {% endif %}

         {# --- Descriptions Section --- #}
         {% if resource_data|has_key:"Description Assignment"%}
            <section">
                  {% for desc in resource_data|val_from_key:"Description Assignment" %}
                     {% if desc|val_from_key:"Description Type"|val_from_key:"value" != "Acknowledgement" %}   
                        <hr>
                        <div class="keeptogether">
                           <h3>{{desc|val_from_key:"Description Type"|val_from_key:"value"}}</h3>
                           <div class="content-container">
                              <p>{{ desc|val_from_key:"Description"|val_from_key:"@display_value"|safe }}</p>
                           </div>
                        </div>
                     {% endif %}
                  {% endfor %}
            </section>
         {% endif %}

         {# --- Existence Section --- #}
         {% if resource_data|has_key:"Existence 9" %}
         <section class="keeptogether">
            <hr>
            <h3>Periodization</h3>
            {% for item in resource_data|val_from_key:"Existence 9" %}
            
               {% with indeterminate=item|val_from_key:"Indeterminate"|val_from_key:"@display_value" %}
                  {% if indeterminate and indeterminate == 'True' %}
                     <div class="data-table">
                        <div>Indeterminate</div>
                     </div>
                  {% endif %}
               {% endwith %}
               
               {% with beginning=item|val_from_key:"Time Period"|val_from_key:"Beginning of Existence" %}
                  {% with b_type=beginning|val_from_key:"Start Date Type"|val_from_key:"@display_value" %}
                     {% if b_type %}
                        <div class="data-table">
                           <div>Start Date Type</div>
                           <div>: {{ b_type }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
                  
                  {% with b_text=beginning|val_from_key:"Beginning of Existence Time Span"|val_from_key:"Start Date of Existence text"|val_from_key:"@display_value" %}
                     {% if b_text %}
                        <div class="data-table">
                           <div>Start Date of Existence (text)</div>
                           <div>: {{ b_text }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
                  
                  {% with b_edtf=beginning|val_from_key:"Beginning of Existence Time Span"|val_from_key:"Start Date of Existence edtf"|val_from_key:"@display_value" %}
                     {% if b_edtf %}
                        <div class="data-table">
                           <div>Start Date of Existence (edtf)</div>
                           <div>: {{ b_edtf }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
               {% endwith %}
               
               {% with end=item|val_from_key:"Time Period"|val_from_key:"End of Existence" %}
                  {% with e_type=end|val_from_key:"End Date Type"|val_from_key:"@display_value" %}
                        {% if e_type %}
                           <div class="data-table">
                              <div>End Date Type</div>
                              <div>: {{ e_type }}</div>
                           </div>
                        {% endif %}
                     {% endwith %}
                  
                     {% with e_text=end|val_from_key:"End of Existence Time Span"|val_from_key:"End Date of Existence text"|val_from_key:"@display_value" %}
                        {% if e_text %}
                           <div class="data-table">
                              <div>End Date of Existence (text)</div>
                              <div>: {{ e_text }}</div>
                           </div>
                        {% endif %}
                     {% endwith %}
                     
                     {% with e_edtf=end|val_from_key:"End of Existence Time Span"|val_from_key:"End Date of Existence edtf"|val_from_key:"@display_value" %}
                        {% if e_edtf %}
                           <div class="data-table">
                              <div>End Date of Existence (edtf)</div>
                              <div>: {{ e_edtf }}</div>
                           </div>
                        {% endif %}
                  {% endwith %}
               {% endwith %}
               
               {% with notes=item|val_from_key:"Periodization Description Assignment"|val_from_key:"Periodization Notes"|val_from_key:"@display_value" %}
                  {% if notes %}
                     <div class="data-table">
                        <div>Periodization Notes</div>
                        <div>: {{ notes }}</div>
                     </div>
                  {% endif %}
               {% endwith %}
               
               {% with date=item|val_from_key:"Date" %}
                  {% with s_type=date|val_from_key:"Spot Date Type"|val_from_key:"@display_value" %}
                     {% if s_type %}
                        <div class="data-table">
                           <div>Spot Date Type</div>
                           <div>: {{ s_type }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
                  
                  {% with s_text=date|val_from_key:"Spot Date text"|val_from_key:"@display_value" %}
                     {% if s_text %}
                        <div class="data-table">
                           <div>Spot Date (text)</div>
                           <div>: {{ s_text }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
                  
                  {% with s_edtf=date|val_from_key:"Spot Date edtf"|val_from_key:"@display_value" %}
                     {% if s_edtf %}
                        <div class="data-table">
                           <div>Spot Date (edtf)</div>
                           <div>: {{ s_edtf }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
               {% endwith %}
            {% endfor %}
         </section>
         {% endif %}

         {# --- Measurement Section --- #}
         {% if resource_data|has_key:"Measurement 3" %}
            <section class="keeptogether">
               <hr>
               <h3>Measurement</h3>
               {% for item in resource_data|val_from_key:"Measurement 3" %}

                  {% with component=item|val_from_key:"Measured Component"|val_from_key:"Measurement Event" %}

                     <div class="data-table">
                        <div>{{component|val_from_key:"Measurement Type"|val_from_key:"@display_value"|capfirst}} ({{component|val_from_key:"Measurement"|val_from_key:"Measurement Unit"|val_from_key:"@display_value"}})</div>
                        <div>: {{ component|val_from_key:"Measurement"|val_from_key:"Measurement Value"|val_from_key:"@display_value" }}</div>
                     </div>

                  {% endwith %}
                  
                  {% with m_notes=item|val_from_key:"Notes on Measurement"|val_from_key:"@display_value"|safe %}
                     {% if m_notes %}
                        <div class="data-table">
                           <div>Notes on Measurement:</div>
                           <div>: {{ m_notes }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
               {% endfor %}
            </section>
         {% endif %}

         {# --- Administrative Division Section --- #}
         {% if resource_data|has_key:"Administrative Division" %}
            <section class="keeptogether">
               <hr>
               <h3>Administrative Division</h3>
               <ul class="keeptogether">
                  {% for division in resource_data|val_from_key:"Administrative Division" %}
                  {% with sub_div=division|val_from_key:"Administration Subdivision" %}
                  <li>
                     <div class="data-table">
                        <div>{{sub_div|val_from_key:"Administrative Subdivision Type"|val_from_key:"@display_value"}}</div>
                        <div>: {{ sub_div|val_from_key:"Administrative Subdivision Name"|val_from_key:"@display_value" }}</div>
                     </div>
                  </li>
                  {% endwith %}
                  {% endfor %}
               </ul>
            </section>
         {% endif %}

         {# --- Location Section --- #}
         {% if resource_data|has_key:"Place 6" %}
            <section class="keeptogether">
               <hr>
               <h3>Location</h3>
               {% for item in resource_data|val_from_key:"Place 6" %}
               
                  {% for address in item|val_from_key:"Place Address" %}
                     <div class="data-table">
                        <div>Address Type</div>
                        <div>: {{address|val_from_key:"Address Type"|val_from_key:"@display_value"}}</div>
                     </div>
                     
                     <div class="data-table">
                        <div>Address</div>
                        <div>: {{address|val_from_key:"@display_value"}}</div>
                     </div>
                  {% endfor %}
                  
                  {% with p_desc=item|val_from_key:"Place Description Assignment"|val_from_key:"Place Description"|val_from_key:"@display_value" %}
                     {% if p_desc %}
                        <div class="data-table">
                           <div>Place Description</div>
                           <div>: {{ p_desc }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
                  
                  {% for sub_item in item|val_from_key:"Spatial Coordinates Geometry" %}
                     {% if sub_item|val_from_key:"Geometry Qualifier"|val_from_key:"@display_value" %}
                        <div class="data-table">
                           <div>Geometry Qualifier</div>
                           <div>: {{sub_item|val_from_key:"Geometry Qualifier"|val_from_key:"@display_value"}}</div>
                        </div>
                     {% endif %}

                     {% if sub_item|val_from_key:"Coordinates"|val_from_key:"Latitude"|val_from_key:"@display_value" %}
                        <div class="data-table">
                           <div>Latitude</div>
                           <div>: {{sub_item|val_from_key:"Coordinates"|val_from_key:"Latitude"|val_from_key:"@display_value"}}</div>
                        </div>
                     {% endif %}

                     {% if sub_item|val_from_key:"Coordinates"|val_from_key:"Longitude"|val_from_key:"@display_value" %}
                        <div class="data-table">
                           <div>Longitude</div>
                           <div>: {{sub_item|val_from_key:"Coordinates"|val_from_key:"Longitude"|val_from_key:"@display_value"}}</div>
                        </div>
                     {% endif %}
                     
                     {% for feature in sub_item|val_from_key:"geojson"|val_from_key:"features" %}
                        <div class="data-table">
                           <div>Spatial Coordinates Geometry</div>
                           <div>: {{ feature|val_from_key:"geometry" }}</div>
                        </div>
                     {% endfor %}
                  {% endfor %}
               {% endfor %}
            </section>
         {% endif %}

         {# --- Classification Section --- #}
         {% if resource_data|has_key:"Feature Classification 2" or resource_data|has_key:"Keyword" %}
            <section class="keeptogether">
               <div class="h1-container">
                  <h1>Classification</h1>
               </div>
               
               {% if resource_data|has_key:"Feature Classification 2" %}
                  <h4>Feature Classifications</h4>
                  {% for item in resource_data|val_from_key:"Feature Classification 2" %}
                     <p class="content">{{item|val_from_key:"@display_value"}}</p>
                  {% endfor %}
               {% endif %}

               {% if resource_data|has_key:"Functional Classification" %}
                  <h4>Functional Classifications</h4>
                     {% for item in resource_data|val_from_key:"Functional Classification" %}
                        <p class="content">{{item|val_from_key:"@display_value"}}</p>
                     {% endfor %}
               {% endif %}
               
               {% if resource_data|has_key:"Keyword" %}
               <h4>Keywords</h4>
                  {% for item in resource_data|val_from_key:"Keyword" %}
                     <p class="content">{{item|val_from_key:"@display_value"}}</p>
                  {% endfor %}
               {% endif %}
            </section>
            {% endif %}

            
            {# --- Current Status Section --- #}
            {% if resource_data|has_key:"Current Status 2" %}
            <section class="keeptogether">
               <hr>  
               <h3>Current Status</h3>
               {% for item in resource_data|val_from_key:"Current Status 2" %}
                  {% with authority=item|val_from_key:"Custodial Authority"%}
                     {% with a_name=authority|val_from_key:"Custodial Authority Name"|val_from_key:"@display_value" %}
                        {% if a_name %}
                           <h4>Custodial Authority Name</h4>
                           <p class="content">{{ a_name }}</p>
                        {% endif %}
                     {% endwith %}
                     
                     {% with a_status=authority|val_from_key:"Custodial Authority Status 2"|val_from_key:"@display_value" %}
                        {% if a_status %}
                           <h4>Custodial Authority Status</h4>
                           <p class="content">{{ a_status }}</p>
                        {% endif %}
                     {% endwith %}
                     
                     {% with a_desc=authority|val_from_key:"Custodial Authority Description Assignment"|val_from_key:"Custodial Authority Description"|val_from_key:"@display_value" %}
                        {% if a_desc %}
                           <h4>Custodial Authority Description</h4>
                           <p class="content">{{ a_desc }}</p>
                        {% endif %}
                     {% endwith %}
                  {% endwith %}
                  
                  {% with prot=item|val_from_key:"Protection"|val_from_key:"Protection Status"|val_from_key:"@display_value" %}
                     {% if prot %}
                        <div class="data-table">
                           <div>Protection Status</div>
                           <div>: {{ prot }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
                  
                  {% with p_desc=item|val_from_key:"Protection"|val_from_key:"Protection Status Description Assignment"|val_from_key:"Protection Status Description"|val_from_key:"@display_value" %}
                     {% if p_desc %}
                        <div class="data-table">
                           <div>Protection Status Description</div>
                           <div>: {{ p_desc }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
                  
                  {% with usage=item|val_from_key:"Current Usage" %}
                  {% with u_type=usage|val_from_key:"Current Usage Type"|val_from_key:"@display_value" %}
                     {% if u_type %}
                        <div class="data-table">
                           <div>Current Usage Type</div>
                           <div>: {{ u_type }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
                  
                  {% with u_desc=usage|val_from_key:"Current Usage Description Assignment"|val_from_key:"Current Usage Description"|val_from_key:"@display_value" %}
                     {% if u_desc %}
                        <div class="data-table">
                           <div>Current Usage Description</div>
                           <div>: {{ u_desc }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}

               {% endwith %}
               {% endfor %}
            </section>
            {% endif %}

            {# --- Condition and Preservation Section --- #}
            {% if resource_data|has_key:"Condition and Preservation" %}
            <section class="keeptogether">
               <hr>
               <h3>Condition and Preservation</h3>
               
               {% for item in resource_data|val_from_key:"Condition and Preservation" %}
                  {% with state=item|val_from_key:"Condition Assessment"|val_from_key:"Condition State" %}

                     {% with c_type=state|val_from_key:"Condition Type"|val_from_key:"@display_value" %}
                        {% if c_type %}
                           <div class="data-table">
                              <div>Condition Type</div>
                              <div>: {{ c_type }}</div>
                           </div>
                        {% endif %}
                     {% endwith %}
               
                     {% with c_date=state|val_from_key:"Condition Time Span"|val_from_key:"Date Condition Assessed"|val_from_key:"@display_value" %}
                        {% if c_date %}
                           <div class="data-table">
                              <div>Date Condition Assessed: </div>
                              <div>: {{ c_date }}</div>
                           </div>
                        {% endif %}
                     {% endwith %}

                     {% with d_type=state|val_from_key:"Disturbance Type"|val_from_key:"@display_value" %}
                        {% if d_type %}
                           <div class="data-table">
                              <div>Disturbance Type</div>
                              <div>: {{ d_type }}</div>
                           </div>
                        {% endif %}
                     {% endwith %}
                     
                     {% with t_type=state|val_from_key:"Threat Type"|val_from_key:"@display_value" %}
                        {% if t_type %}
                           <div class="data-table">
                              <div>Threat Type</div>
                              <div>: {{ t_type }}</div>
                           </div>
                        {% endif %}
                     {% endwith %}

                     {% with c_image=state|val_from_key:"Condition Image"|val_from_key:"file_details" %}
                        {% if c_image %}
                           {% for image in c_image %}
                              {% with url=image|val_from_key:"url" %}
                                 <h4>{{image|val_from_key:"name"}}</h4>
                                 <img src="{{url}}">
                              {% endwith %}
                           {% endfor %}
                        {% endif %}
                     {% endwith %}

                  {% with notes=item|val_from_key:"Condition and Preservation Description Assignment"|val_from_key:"Notes on Condition and Preservation"|val_from_key:"@display_value" %}
                     {% if notes %}
                        <div class="data-table">
                           <div>Condition notes</div>
                           <div>: {{ notes }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}

                  {% endwith %}
                        
                  {% with preservation=item|val_from_key:"Preservation" %}
                  
                     {% with pres_status=preservation|val_from_key:"Preservation Status"|val_from_key:"@display_value" %}
                        {% if pres_status %}
                           <h4>Preservation Status: </h4>
                           <p class="content">{{ pres_status }}</p>
                        {% endif %}
                     {% endwith %}

                     {% with pres_type=preservation|val_from_key:"Required Preservation Type"|val_from_key:"@display_value" %}
                        {% if pres_type %}
                           <h4>Required Preservation Type: </h4>
                           <p class="content">{{ pres_type }}</p>
                        {% endif %}
                     {% endwith %}
                     
                  {% endwith %}

               {% endfor %}
               </section>
            {% endif %}

            {# --- External Identifiers Section --- #}
            {% if resource_data|has_key:"External Identifier 4" %}
               <section class="keeptogether">
                  <div class="h1-container">
                     <h1>External Identifiers</h1>
                  </div>
                     {% for item in resource_data|val_from_key:"External Identifier 4" %}
                        <div class="data-table">
                           <div>External Xref</div>
                           <div>: {{item|val_from_key:"@display_value"}}</div>
                        </div>
                        
                        <div class="data-table">
                           <div>External Source</div>
                           <div>: {{item|val_from_key:"External Source"|val_from_key:"@display_value"}}</div>
                        </div>
                        
                        <div class="data-table">
                           <div>External Identifier Type</div>
                           <div>: {{item|val_from_key:"External Identifier Type"|val_from_key:"@display_value"}}</div>
                        </div>
                        
                        {% with url=item|val_from_key:"External Identifier URL"|val_from_key:"@display_value"|json_to_obj|val_from_key:"url" %}
                           {% if url %}
                              <h4>URL</h4>
                              <p class="content">{{ url }}</p>
                           {% endif %}
                        {% endwith %}
                        
                        {% with x_desc=item|val_from_key:"External Reference Description Assignment"|val_from_key:"Note on External Reference or Source"|val_from_key:"@display_value" %}
                           {% if x_desc %}
                              <div class="data-table">
                                 <div>Description</div>
                                 <div>: {{ x_desc }}</div>
                              </div>
                           {% endif %}
                        {% endwith %}
                     {% endfor %}
               </section>   
            {% endif %}

            {# --- Citations Section --- #}
            {% if resource_data|has_key:"Citation 4" %}
               <section class="keeptogether">
                  <hr>
                  <h3>Citations</h3>
                  {% for item in resource_data|val_from_key:"Citation 4" %}
                     <div class="data-table">
                        <div>Citation Apellation</div>
                        <div>: {{item|val_from_key:"Citation Apellation"|val_from_key:"@display_value"}}</div>
                     </div>
                     
                     {% with c_url=item|val_from_key:"Citation URL"|val_from_key:"url" %}
                        {% if c_url %}
                           <div class="data-table">
                              <div>Citation URL</div>
                              <div>: {{ c_url }}</div>
                           </div>
                        {% endif %}
                     {% endwith %}
                     
                     {% with c_note=item|val_from_key:"Note on Citation"|val_from_key:"@display_value" %}
                        {% if c_note %}
                           <div class="data-table">
                              <div>Citation Description</div>
                              <div>: {{ c_note }}</div>
                           </div>
                        {% endif %}
                     {% endwith %}
                  {% endfor %}
               </section>   
            {% endif %}

            {# --- Text Section --- #}
            {% if resource_data|has_key:"Text" %}
               <section class="keeptogether">
                  <hr>
                  <h3>Text</h3>
                  {% for item in resource_data|val_from_key:"Text" %}
                     
                     {% with language=item|val_from_key:"Language"|val_from_key:"@display_value" %}
                        {% if language %}
                           <div class="data-table">
                              <div>Language</div>
                              <div>: {{item|val_from_key:"Language"|val_from_key:"@display_value"}}</div>
                           </div>
                        {% endif %}
                     {% endwith %}

                     {% with notes=item|val_from_key:"Notes"|val_from_key:"@display_value" %}
                        {% if notes %}
                           <div class="data-table">
                              <div>Notes</div>
                              <div>: {{ notes }}</div>
                           </div>
                        {% endif %}
                     {% endwith %}

                     {% with transcript=item|val_from_key:"Transcript"|val_from_key:"@display_value" %}
                        {% if transcript %}
                           <div class="data-table">
                              <div>Transcript</div>
                              <div>: {{ transcript }}</div>
                           </div>
                        {% endif %}
                     {% endwith %}

                     {% with script=item|val_from_key:"Script"|val_from_key:"@display_value" %}
                        {% if script %}
                           <div class="data-table">
                              <div>Script</div>
                              <div>: {{ script }}</div>
                           </div>
                        {% endif %}
                     {% endwith %}
                     
                  {% endfor %}
               </section>   
            {% endif %}

            {# --- Inscription Section --- #}
            {% if resource_data|has_key:"Inscription 3" %}
               <section class="keeptogether">
                  <hr>
                  <h3>Inscription Notes</h3>
                  {% for item in resource_data|val_from_key:"Inscription 3" %}
                     
                     {% with script=item|val_from_key:"Inscription Script"|val_from_key:"@display_value" %}
                        {% if script %}
                           <div class="data-table">
                              <div>Inscription Script</div>
                              <div>: {{ script }}</div>
                           </div>
                        {% endif %}
                     {% endwith %}

                     {% with placement=item|val_from_key:"Placement"|val_from_key:"@display_value" %}
                        {% if placement %}
                           <div class="data-table">
                              <div>Placement</div>
                              <div>: {{ placement }}</div>
                           </div>
                        {% endif %}
                     {% endwith %}

                     {% with language=item|val_from_key:"Inscription Language"|val_from_key:"@display_value" %}
                        {% if language %}
                           <div class="data-table">
                              <div>Inscription Language</div>
                              <div>: {{ language }}</div>
                           </div>
                        {% endif %}
                     {% endwith %}

                     {% with notes=item|val_from_key:"Inscription Notes"|val_from_key:"@display_value" %}
                        {% if notes %}
                           <div class="data-table">
                              <div>Inscription Notes</div>
                              <div>: {{ notes }}</div>
                           </div>
                        {% endif %}
                     {% endwith %}

                     {% with transcript=item|val_from_key:"Inscription Transcript"|val_from_key:"@display_value" %}
                        {% if transcript %}
                           <h4>Inscription Transcript</h4>
                           <p class="content">{{ transcript }}</p>
                        {% endif %}
                     {% endwith %}
                     
                  {% endfor %}
               </section>   
            {% endif %}

            {# --- Component Section --- #}
            {% if resource_data|has_key:"Component 3" %}
               <section class="keeptogether">
                  <hr>
                  <h3>Components</h3>
                  {% for item in resource_data|val_from_key:"Component 3" %}
                     
                     {% with technique=item|val_from_key:"Technique"|val_from_key:"@display_value" %}
                        {% if technique %}
                           <div class="data-table">
                              <div>Technique</div>
                              <div>: {{ technique }}</div>
                           </div>
                        {% endif %}
                     {% endwith %}

                     {% with c_type=item|val_from_key:"Component Type"|val_from_key:"@display_value" %}
                        {% if c_type %}
                           <div class="data-table">
                              <div>Component Type</div>
                              <div>: {{ c_type }}</div>
                           </div>
                        {% endif %}
                     {% endwith %}

                     {% with c_desc=item|val_from_key:"Component Description"|val_from_key:"@display_value" %}
                        {% if c_desc %}
                           <div class="data-table">
                              <div>Component Description</div>
                              <div>: {{ c_desc }}</div>
                           </div>
                        {% endif %}
                     {% endwith %}

                     {% with material=item|val_from_key:"Material"|val_from_key:"@display_value" %}
                        {% if material %}
                           <div class="data-table">
                              <div>Material</div>
                              <div>: {{ material }}</div>
                           </div>
                        {% endif %}
                     {% endwith %}
                     
                  {% endfor %}
               </section>   
            {% endif %}

            {# --- Provenance Section --- #}
            {% if resource_data|has_key:"Provenance" %}
               <section class="keeptogether">
                  <hr>
                  <h3>Provenance</h3>
                  {% for item in resource_data|val_from_key:"Provenance" %}

                     {% with name=item|val_from_key:"Provenance  Administration Subdivision"|val_from_key:"Provenance  Administrative Subdivision Name"|val_from_key:"@display_value" %}
                        {% if name %}
                           <h4>Provenance Administration Subdivision Name</h4>
                           <p class="content">{{ name }}</p>
                        {% endif %}
                     {% endwith %}

                     {% with type=item|val_from_key:"Provenance  Administration Subdivision"|val_from_key:"Provenance  Administrative Subdivision Type"|val_from_key:"@display_value" %}
                        {% if type %}
                           <h4>Provenance Administration Subdivision Type</h4>
                           <p class="content">{{ type }}</p>
                        {% endif %}
                     {% endwith %}
                     
                  {% endfor %}
               </section>   
            {% endif %}

            {# --- Acknowledgement section --- #}
            {% if resource_data|has_key:"Acknowledgement" %}
               <section class="keeptogether">
                  <div class="h1-container">
                     <h1>Acknowledgement</h1>
                  </div>

                  {% with partners=resource_data|val_from_key:'Acknowledgement'|val_from_key:'Country Partners'|val_from_key:"@display_value" %}
                     {% if partners %}   
                        <h4>Country Partners</h4>
                        <p class="content">{{ partners }}</p>
                     {% endif %}
                  {% endwith %}

                  {% with team=resource_data|val_from_key:'Acknowledgement'|val_from_key:'Team Members'|val_from_key:"@display_value" %}
                     {% if team %}   
                        <h4>Field Team Members</h4>
                        <p class="content">{{ team }}</p>
                     {% endif %}
                  {% endwith %}

                  {% with general=resource_data|val_from_key:'Acknowledgement'|val_from_key:'General Acknowledgement'|val_from_key:"@display_value"|safe %}
                     {% if general %}   
                        <h4>General Acknowledgement</h4>
                        <div class="content-container">
                           <p>{{ general }}</p>
                        </div>
                     {% endif %}
                  {% endwith %}
               </section>
            
               <section">
               {% for desc in resource_data|val_from_key:"Description Assignment" %}
                  {% if desc|val_from_key:"Description Type"|val_from_key:"value" == "Acknowledgement" %}   
                     <div class="keeptogether">
                        <h4>{{desc|val_from_key:"Description Type"|val_from_key:"value"}}</h3>
                        <div class="content-container">
                           <p>{{ desc|val_from_key:"Description"|val_from_key:"@display_value"|safe }}</p>
                        </div>
                     </div>
                  {% endif %}
               {% endfor %}
               </section>

            {% endif %}

            {# --- Images --- #}
            {% if resource_data|has_key:"Information Carrier 2" %}
               <section class="keeptogether">
                  <hr>
                  <h3>Images</h3>
                  {% for item in resource_data|val_from_key:"Information Carrier 2" %}

                     {% with caption=item|val_from_key:"Caption"|val_from_key:"@display_value" %}
                        {% if caption %}
                           <h4>Caption</h4>
                           <p class="content">{{ caption }}</p>
                        {% endif %}
                     {% endwith %}
                     
                     {% for file in item|val_from_key:"Information Carrier"|val_from_key:"file_details" %}
                        {% with url=file|val_from_key:"url" %}
                           <h4>{{file|val_from_key:"name"}}</h4>
                           <img src="{{url}}">
                        {% endwith %}
                     {% endfor %}

                  {% endfor %}
               </section> 
            {% endif %}

            {# --- Related Sites section --- #}
            {% if resource_data|has_key:"Site" %}
               <section class="keeptogether">
                  <hr>
                  <h3>Related Sites</h3>
                  <ul>
                     {% for linked_resource in resource_data|val_from_key:"Site" %}
                     <li>
                        <h4>{{ linked_resource|val_from_key:"@display_value" }}</h4>
                        <a class="content" href="/resource/{{ linked_resource|val_from_key:'resourceId' }}">
                           /resource/{{ linked_resource|val_from_key:'resourceId' }}
                        </a>
                     </li>
                     {% endfor %}
                  </ul>
               </section> 
            {% endif %}

            {# --- Related Objects section --- #}
            {% if resource_data|has_key:"Related Object" %}
               <section class="keeptogether">
                  <hr>
                  <h3>Related Objects</h3>
                  <ul>
                     {% for linked_resource in resource_data|val_from_key:"Related Object" %}
                        {% for link in linked_resource|val_from_key:"instance_details" %}
                           <li>
                              <h4>{{ link|val_from_key:"display_value" }}</h4>
                              <a class="content" href="/resource/{{ link|val_from_key:'resourceId' }}">
                                 /resource/{{ link|val_from_key:'resourceId' }}
                              </a>
                           </li>
                        {% endfor %}
                     {% endfor %}
                  </ul>
               </section> 
            {% endif %}

            {# --- Related Features section --- #}
            {% if resource_data|has_key:"Related Feature" %}
            <section class="keeptogether">
               <hr>
               <h3>Related Feature</h3>
               {% for linked_resource in resource_data|val_from_key:"Related Feature" %}
                  <ul>
                  {% for link in linked_resource|val_from_key:"instance_details" %}
                     <li>
                        <h4>{{ link|val_from_key:"display_value" }}</h4>
                        <a class="content" href="/resource/{{ linked_resource|val_from_key:'resourceId' }}">
                           /resource/{{ link|val_from_key:'resourceId' }}
                        </a>
                     </li>
                  {% endfor %}
                  </ul>   
               {% endfor %}
               </section> 
            {% endif %}

            {# --- Related Digital Asset Section --- #}
            {% if resource_data|has_key:"Related Digital Asset" %}
            <section class="keeptogether">
               <hr>
               <h3>Related Digital Asset</h3>
               {% for linked_resource in resource_data|val_from_key:"Related Digital Asset" %}
                  <ul>
                     {% for link in linked_resource|val_from_key:"instance_details" %}
                        <li>
                           <h4>{{ link|val_from_key:"display_value" }}</h4>
                           <a class="content" href="/resource/{{ linked_resource|val_from_key:'resourceId' }}">
                              /resource/{{ link|val_from_key:'resourceId' }}
                           </a>
                        </li>
                     {% endfor %}
                  </ul>
               {% endfor %}
               </section> 
            {% endif %}

            {# --- ResourceID section --- #}
            <section class="keeptogether">
               <div class="h1-container">
                  <h1>Resource ID</h1>
               </div>
               <p class="content">{{ resource.resourceinstanceid }}</p>
            </section> 

            {# --- Related Collections section --- #}
            {% if resource_data|has_key:"Related Collection" %}
               <section class="keeptogether">
                  <hr>
                  <h3>Related Collection</h3>
                  <ul>
                     {% for linked_resource in resource_data|val_from_key:"Related Collection" %}
                        {% for link in linked_resource|val_from_key:"instance_details" %}
                           <li>
                              <h4>{{ link|val_from_key:"@display_value" }}</h4>
                              <a class="content" href="/resource/{{ link|val_from_key:'resourceId' }}">
                                 /resource/{{ link|val_from_key:'resourceId' }}
                              </a>
                           </li>
                        {% endfor %}
                     {% endfor %}
                  </ul>
               </section> 
            {% endif %}
            
         </main>
         {% endwith %}
         {% endfor %}
      </body>
      </html>