{% load template_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Report</title>
        {% include 'html_export/milligram.htm' %}
        {% include 'html_export/custom_style.htm' %}
    </head>

    <body>
        {% for resource in resources %}
        {% with resource_data=resource.resource %}

        <header>
            {% include 'html_export/custom_header.htm' %}
        </header>

    <main>
        <h1>{{ resource.displayname }}</h1>
        
        <div class="arches-link-container">  
            <a class="arches-link" href="/resource/{{ resource.resourceinstanceid }}">
                <u>Site - {{ resource.displayname }}</u>
            </a>
        </div>  

        <div class="title-container">
            <h1>{{ resource.displayname }}</h1>
            <h1>Overview</h1>
        </div>

        {% with mahs_id=resource_data|val_from_key:"MAHS ID"|val_from_key:"@display_value" %}
        <div class="data-table mahs-id-container">
            <div class="mahs-id">MAHS ID</div>
            <div>: {{ mahs_id }}</div>
        </div>
        {% endwith %}

        {# --- Title Section --- #}
        {% if resource_data|has_key:"Title" %}
        <section class="keeptogether">
            <hr>
            <h3>Title</h3>

            {% with title=resource_data|val_from_key:"Title" %}
                {% if title %}
                    <div class="data-table">
                        <div>{{title|val_from_key:"Title Type"|val_from_key:"value"}}</div>
                        <div>{{ title|val_from_key:"@display_value" }}</div>
                    </div>
                {% endif %}
            {% endwith %}

        </section>
        {% endif %}

        {# --- Oral History Video Section --- #}
        {% if resource_data|has_key:"Oral History Video" %}
        <section class="keeptogether">
            <hr>
            <h3>Oral History Video</h3>

            {% with video=resource_data|val_from_key:"Oral History Video" %}

                {% with url=video|val_from_key:"Embedded URL"|val_from_key:"@display_value" %}
                    {% if url %}
                        <div class="data-table">
                            <div>Link</div>
                            <div>: <a href={{ url }}>{{ url }}</a></div>
                        </div>
                    {% endif %}
                {% endwith %}

                {% with language=video|val_from_key:"Language"|val_from_key:"@display_value" %}
                    {% if language %}
                        <div class="data-table">
                            <div>Language</div>
                            <div>: {{ language }}</div>
                        </div>
                    {% endif %}
                {% endwith %}

                {% with creator=video|val_from_key:"Video Created By"|val_from_key:"@display_value" %}
                    {% if creator %}
                        <div class="data-table">
                            <div>Created By</div>
                            <div>: {{ creator }}</div>
                        </div>
                    {% endif %}
                {% endwith %}

            {% endwith %}

        </section>
        {% endif %}

        {# --- Descriptions Section --- #}
        {% if resource_data|has_key:"Description Assignment"%}
        <section">
            <hr>
            {% with desc=resource_data|val_from_key:"Description Assignment" %}
                {% if desc|val_from_key:"Description Type"|val_from_key:"value" != "Acknowledgement" %}   
                <div class="keeptogether">
                    <h3>{{desc|val_from_key:"Description Type"|val_from_key:"value"}}</h3>
                    <div class="content-container">
                        <p>{{ desc|val_from_key:"Description"|val_from_key:"@display_value"|safe }}</p>
                    </div>
                </div>
                {% endif %}
            {% endwith %}
        </section>
        {% endif %}

        {# --- Interview Creation Section --- #}
        {% if resource_data|has_key:"Interview Creation Event" %}
        <section class="keeptogether">
            <div class="h1-container">
                <h1>Interview Creation Event</h1>
            </div>

            {% with i_event=resource_data|val_from_key:"Interview Creation Event" %}
                {% if i_event %}

                    {% with i_site=i_event|val_from_key:"Interview Site"|val_from_key:"@display_value" %}
                        {% if i_site %}
                                <div class="data-table">
                                    <div>Interview Site</div>
                                    <div>: {{ i_site }}</div>
                                </div>

                                {% for link in i_event|val_from_key:"Interview Site"|val_from_key:"instance_details" %}
                                    <a class="content" href="/resource/{{ link|val_from_key:'resourceId' }}">
                                        /resource/{{ link|val_from_key:'resourceId' }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}

                    {% with i_place=i_event|val_from_key:"Place of Interview"|val_from_key:"@display_value" %}
                        {% if i_place %}
                            <div class="data-table">
                                <div>Place of Interview</div>
                                <div>: {{ i_place }}</div>
                            </div>
                        {% endif %}
                    {% endwith %}

                    {% with i_date=i_event|val_from_key:"Interview Date"|val_from_key:"@display_value" %}
                        {% if i_date %}
                            <div class="data-table">
                                <div>Interview Date</div>
                                <div>: {{ i_date }}</div>
                            </div>
                        {% endif %}
                    {% endwith %}

                {% endif %}
            {% endwith %}

        </section>
        {% endif %}

        {# --- Interviewer Section --- #}
        {% if resource_data|has_key:"Interviewer" %}
        <section class="keeptogether">
            <hr>
            <h3>Interviewer(s)</h3>

            {% for interviewer in resource_data|val_from_key:"Interviewer" %}
                <p class="content">{{interviewer|val_from_key:"Name of Interviewer"|val_from_key:"@display_value"}}</p>
            {% endfor %}

        </section>
        {% endif %}

        {# --- Interviewee Section --- #}
        {% if resource_data|has_key:"Interviewee" %}
        <section class="keeptogether">
            <hr>
            <h3>Interviewee(s)</h3>

            {% for interviewee in resource_data|val_from_key:"Interviewee" %}
                {% with name=interviewee|val_from_key:"Name of Inerviewee"|val_from_key:"@display_value" %}
                    {% if name %}
                        <div class="data-table">
                            <div>Name</div>
                            <div>: {{name}}</div>
                        </div>
                    {% endif %}
                {% endwith %}

                {% with gender=interviewee|val_from_key:"Gender of Interviewee"|val_from_key:"@display_value" %}
                    {% if gender %}
                        <div class="data-table">
                            <div>Gender</div>
                            <div>: {{gender}}</div>
                        </div>
                    {% endif %}
                {% endwith %}

                {% with age=interviewee|val_from_key:"Age of Interviewee"|val_from_key:"@display_value" %}
                    {% if age %}
                        <div class="data-table">
                            <div>Age</div>
                            <div>: {{age}}</div>
                        </div>
                    {% endif %}
                {% endwith %}

            {% endfor %}

        </section>
        {% endif %}

        {# --- Classification Section --- #}
        {% if resource_data|has_key:"Feature Classification 2" or resource_data|has_key:"Keyword" %}
        <section class="keeptogether">
            <div class="h1-container">
                <h1>Classification</h1>
            </div>
            
            {% if resource_data|has_key:"Keyword" %}
            <div class="data-table">
                <div>Keywords</div>
                <div>: {{resource_data|val_from_key:"Keyword"|val_from_key:"@display_value"}}</div>
            </div>
            {% endif %}
        </section>
        {% endif %}

        {# --- Administrative Division Section --- #}
        {% if resource_data|has_key:"Administrative Division" %}
        <section class="keeptogether">
            <hr>
            <h3>Administrative Division</h3>
            <ul class="keeptogether">
                {% for division in resource_data|val_from_key:"Administrative Division" %}
                {% with sub_div=division|val_from_key:"Administration Subdivision" %}
                <li>
                    <div class="data-table">
                        <div>{{sub_div|val_from_key:"Administrative Subdivision Type"|val_from_key:"@display_value"}}</div>
                        <div>: {{ sub_div|val_from_key:"Administrative Subdivision Name"|val_from_key:"@display_value" }}</div>
                    </div>
                </li>
                {% endwith %}
                {% endfor %}
            </ul>
        </section>
        {% endif %}

        {# --- ResourceID section --- #}
        <section class="keeptogether">
            <div class="h1-container">
                <h1>Resource ID</h1>
            </div>
            <p class="content">{{ resource.resourceinstanceid }}</p>
        </section> 

        {# --- Related Resources section --- #}
        {% if resource_data|has_key:"Related Resources" and resource_data|val_from_key:"Related Resources"|val_from_key:"@display_value" %}
            <section class="keeptogether">
                <hr>
                <h3>Related Resources</h3>
                <ul>
                    {% for linked_resource in resource_data|val_from_key:"Related Resources"|val_from_key:"instance_details" %}
                        <li>
                        <h4>{{ linked_resource|val_from_key:"display_value" }}</h4>
                        <a class="content" href="/resource/{{ linked_resource|val_from_key:'resourceId' }}">
                            /resource/{{ linked_resource|val_from_key:'resourceId' }}
                        </a>
                        </li>
                    {% endfor %}
                </ul>
            </section> 
        {% endif %}

        </main>
        {% endwith %}
        {% endfor %}
    </body>
    </html>