{% load template_tags %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Report</title>
      {% include 'html_export/milligram.htm' %}
      {% include 'html_export/custom_style.htm' %}
      
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

   </head>

   <body>
      {% for resource in resources %}
      {% with resource_data=resource.resource %}

      <header>
         {% include 'html_export/custom_header.htm' %}
      </header>
      
      <main>     
         <div class="arches-link-container">  
            <a class="arches-link" href="/resource/{{ resource.resourceinstanceid }}">
               <u>Site - {{ resource.displayname }}</u>
            </a>
         </div>  

         <div class="title-container">
            <h1>{{ resource.displayname }}</h1>
            <h1>Overview</h1>
         </div>

         {% with mahs_id=resource_data|val_from_key:"MAHS ID"|val_from_key:"@display_value" %}
            <div class="data-table mahs-id-container">
               <div class="mahs-id">MAHS ID</div>
               <div>: {{ mahs_id }}</div>
            </div>
         {% endwith %}

         {# --- Names Section --- #}
         {% if resource_data|has_key:"Name" %}
            <section class="keeptogether">
               <ul>
                  {% for name in resource_data|val_from_key:"Name" %}
                     <div class="data-table">
                        <div>{{name|val_from_key:"Name Type"|val_from_key:"value"}}</div>
                        <div>: {{ name|val_from_key:"@display_value" }}</div>
                     </div>
                  {% endfor %}
               </ul>
            </section>
         {% endif %}

         {# --- Descriptions Section --- #}
         {% if resource_data|has_key:"Description Assignment"%}
            <section">
                  {% for desc in resource_data|val_from_key:"Description Assignment" %}
                     {% if desc|val_from_key:"Description Type"|val_from_key:"value" != "Acknowledgement" %}
                        <hr>
                        <div class="keeptogether">
                           <h3>{{desc|val_from_key:"Description Type"|val_from_key:"value"}}</h3>
                           <div class="content-container">
                              <p>{{ desc|val_from_key:"Description"|val_from_key:"@display_value"|safe }}</p>
                           </div>
                        </div>
                     {% endif %}
                  {% endfor %}
            </section>
         {% endif %}

         {# --- Existence Section --- #}
         {% if resource_data|has_key:"Existence 9" %}
         <section class="keeptogether">
            <hr>
            <h3>Periodization</h3>
            {% for item in resource_data|val_from_key:"Existence 9" %}
            
               {% with indeterminate=item|val_from_key:"Indeterminate"|val_from_key:"@display_value" %}
                  {% if indeterminate and indeterminate == 'True' %}
                     <div class="data-table">
                        <div>Indeterminate</div>
                     </div>
                  {% endif %}
               {% endwith %}
               
               {% with beginning=item|val_from_key:"Time Period"|val_from_key:"Beginning of Existence" %}
                  <!-- {% with b_type=beginning|val_from_key:"Start Date Type"|val_from_key:"@display_value" %}
                     {% if b_type %}
                        <div class="data-table">
                           <div>Start Date Type</div>
                           <div>: {{ b_type }}</div>
                        </div>
                     {% endif %}
                  {% endwith %} -->
                  
                  {% with b_text=beginning|val_from_key:"Beginning of Existence Time Span"|val_from_key:"Start Date of Existence text"|val_from_key:"@display_value" %}
                     {% if b_text %}
                        <div class="data-table">
                           <div>Start Date of Existence (text)</div>
                           <div>: {{ b_text }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
                  
                  <!-- {% with b_edtf=beginning|val_from_key:"Beginning of Existence Time Span"|val_from_key:"Start Date of Existence edtf"|val_from_key:"@display_value" %}
                     {% if b_edtf %}
                        <div class="data-table">
                           <div>Start Date of Existence (edtf)</div>
                           <div>: {{ b_edtf }}</div>
                        </div>
                     {% endif %}
                  {% endwith %} -->
               {% endwith %}
               
               {% with end=item|val_from_key:"Time Period"|val_from_key:"End of Existence" %}
                  <!-- {% with e_type=end|val_from_key:"End Date Type"|val_from_key:"@display_value" %}
                     {% if e_type %}
                        <div class="data-table">
                           <div>End Date Type</div>
                           <div>: {{ e_type }}</div>
                        </div>
                     {% endif %}
                  {% endwith %} -->
                  
                  {% with e_text=end|val_from_key:"End of Existence Time Span"|val_from_key:"End Date of Existence text"|val_from_key:"@display_value" %}
                     {% if e_text %}
                        <div class="data-table">
                           <div>End Date of Existence (text)</div>
                           <div>: {{ e_text }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
                  
                  <!-- {% with e_edtf=end|val_from_key:"End of Existence Time Span"|val_from_key:"End Date of Existence edtf"|val_from_key:"@display_value" %}
                     {% if e_edtf %}
                        <div class="data-table">
                           <div>End Date of Existence (edtf)</div>
                           <div>: {{ e_edtf }}</div>
                        </div>
                     {% endif %}
                  {% endwith %} -->
               {% endwith %}
               
               {% with date=item|val_from_key:"Date" %}
                  
                  {% with s_text=date|val_from_key:"Spot Date text"|val_from_key:"@display_value" %}
                     {% if s_text %}
                     <div class="data-table">
                        <div>Spot Date (text)</div>
                        <div>: {{ s_text }}</div>
                     </div>
                     {% endif %}
                  {% endwith %}
                  
                  <!-- {% with s_edtf=date|val_from_key:"Spot Date edtf"|val_from_key:"@display_value" %}
                     {% if s_edtf %}
                     <div class="data-table">
                        <div>Spot Date (edtf)</div>
                        <div>: {{ s_edtf }}</div>
                     </div>
                     {% endif %}
                  {% endwith %} -->

                  {% with notes=item|val_from_key:"Periodization Description Assignment"|val_from_key:"Periodization Notes"|val_from_key:"@display_value"|safe %}
                     {% if notes %}
                     <div class="data-table">
                        <div>Periodization Notes</div>
                        <div>: {{ notes }}</div>
                     </div>
                     {% endif %}
                  {% endwith %}

               {% endwith %}
            {% endfor %}
         </section>
         {% endif %}
         
         {# --- Administrative Division Section --- #}
         {% if resource_data|has_key:"Administrative Division" %}
            <section class="keeptogether">
               <hr>
               <h3>Administrative Division</h3>
               <div class="keeptogether">
                  {% for division in resource_data|val_from_key:"Administrative Division" %}
                  {% with sub_div=division|val_from_key:"Administration Subdivision" %}
                  <div class="data-table">
                     <div>{{sub_div|val_from_key:"Administrative Subdivision Type"|val_from_key:"@display_value"}}</div>
                     <div>: {{ sub_div|val_from_key:"Administrative Subdivision Name"|val_from_key:"@display_value" }}</div>
                  </div>
                  {% endwith %}
                  {% endfor %}
               </div>

               {% for item in resource_data|val_from_key:"Place 6" %}
                  {% for address in item|val_from_key:"Place Address" %}
                     {% with address_text=address|val_from_key:"@display_value" %}
                        {% if address_text %}
                           <div class="data-table">
                              <div>Place Address</div>
                              <div>: {{address_text}}</div>
                           </div>
                        {% endif %}
                     {% endwith %}
                  {% endfor %}
               {% endfor %}
            </section>
         {% endif %}

         {# --- Location Section --- #}
         {% if resource_data|has_key:"Place 6" %}
            <section class="keeptogether">
               <hr>
               <h3>Spatial Location</h3>
               {% for item in resource_data|val_from_key:"Place 6" %}   
               
                  {% for sub_item in item|val_from_key:"Spatial Coordinates Geometry" %}
                     {% if sub_item|val_from_key:"Geometry Qualifier"|val_from_key:"@display_value" %}
                     <div class="data-table">
                        <div>Geometry Qualifier</div>
                        <div>: {{sub_item|val_from_key:"Geometry Qualifier"|val_from_key:"@display_value"}}</div>
                     </div>
                     {% endif %}
                     
                     {% if sub_item|val_from_key:"Coordinates"|val_from_key:"Latitude"|val_from_key:"@display_value" %}
                     <div class="data-table">
                        <div>Latitude</div>
                        <div>: {{sub_item|val_from_key:"Coordinates"|val_from_key:"Latitude"|val_from_key:"@display_value"}}</div>
                     </div>
                     {% endif %}
                     
                     {% if sub_item|val_from_key:"Coordinates"|val_from_key:"Longitude"|val_from_key:"@display_value" %}
                     <div class="data-table">
                        <div>Longitude</div>
                        <div>: {{sub_item|val_from_key:"Coordinates"|val_from_key:"Longitude"|val_from_key:"@display_value"}}</div>
                     </div>
                     {% endif %}
               
                  {% endfor %}

                  {% with p_desc=item|val_from_key:"Place Description Assignment"|val_from_key:"Place Description"|val_from_key:"@display_value" %}
                     {% if p_desc %}
                        <hr>
                        <h3>Description Location</h3>
                        <div class="data-table">
                           <div>Place Description</div>
                           <div>: {{ p_desc }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}

               {% endfor %}
            </section>
         {% endif %}

         {# --- Classification Section --- #}
         {% if resource_data|has_key:"Functional Classification" or resource_data|has_key:"Formal Characteristics" %}
            <section class="keeptogether">
               <div class="h1-container">
                  <h1>Classification</h1>
               </div>
               
               {% for item in resource_data|val_from_key:"Functional Classification" %}
                  <div class="data-table">
                     <div>Functional Classification</div>
                     <div>: {{item|val_from_key:"@display_value"}}</div>
                  </div>
               {% endfor %}
               
               {% for item in resource_data|val_from_key:"Formal Characteristics" %}
                  <div class="data-table">
                     <div>Formal Characteristics</div>
                     <div>: {{item|val_from_key:"@display_value"}}</div>
                  </div>
               {% endfor %}
         {% endif %}

         {# --- Keyword Section --- #}
         {% if resource_data|has_key:"Keyword" %}
         <hr>   
         <h3>Keywords</h3>

            {% for item in resource_data|val_from_key:"Keyword" %}
               <p>{{item|val_from_key:"@display_value"}}</p>
            {% endfor %}         
         {% endif %}
            
         {# --- Current Status Section --- #}
         {% if resource_data|has_key:"Current Status 2" %}
         <section class="keeptogether">   
            <div class="h1-container">
               <h1>Condition</h1>
            </div>

            <h3>Current Status</h3>
            {% for item in resource_data|val_from_key:"Current Status 2" %}
               {% with authority=item|val_from_key:"Custodial Authority"%}
                  {% with a_name=authority|val_from_key:"Custodial Authority Name"|val_from_key:"@display_value" %}
                     {% if a_name %}
                     <div class="data-table">
                        <div>Custodial Authority Name</div>
                        <div>: {{ a_name }}</div>
                     </div>
                  {% endif %}
               {% endwith %}
                  
                  {% with a_status=authority|val_from_key:"Custodial Authority Status 2"|val_from_key:"@display_value" %}
                     {% if a_status %}
                        <div class="data-table">
                           <div>Custodial Authority Status</div>
                           <div>: {{ a_status }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
                  
                  {% with a_desc=authority|val_from_key:"Custodial Authority Description Assignment"|val_from_key:"Custodial Authority Description"|val_from_key:"@display_value" %}
                     {% if a_desc %}
                        <div class="data-table">
                           <div>Custodial Authority Description</div>
                           <div>: {{ a_desc }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
               {% endwith %}
                  
               {% with prot=item|val_from_key:"Protection"|val_from_key:"Protection Status"|val_from_key:"@display_value" %}
                  {% if prot %}
                     <div class="data-table">
                        <div>Protection Status</div>
                        <div>: {{ prot }}</div>
                     </div>
                  {% endif %}
               {% endwith %}
                  
               {% with p_desc=item|val_from_key:"Protection"|val_from_key:"Protection Status Description Assignment"|val_from_key:"Protection Status Description"|val_from_key:"@display_value" %}
                  {% if p_desc %}
                     <div class="data-table">
                        <div>Protection Status Description</div>
                        <div>: {{ p_desc }}</div>
                     </div>
                  {% endif %}
               {% endwith %}
                  
               {% with usage=item|val_from_key:"Current Usage" %}
                  {% with u_type=usage|val_from_key:"Current Usage Type"|val_from_key:"@display_value" %}
                     {% if u_type %}
                        <div class="data-table">
                           <div>Current Usage Type</div>
                           <div>: {{ u_type }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
                  
                  {% with u_desc=usage|val_from_key:"Current Usage Description Assignment"|val_from_key:"Current Usage Description"|val_from_key:"@display_value" %}
                     {% if u_desc %}
                        <div class="data-table">
                           <div>Current Usage Description</div>
                           <div>: {{ u_desc }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
               {% endwith %}
            {% endfor %}
         </section>
         {% endif %}
         
         {# --- Condition and Preservation Section --- #}
         {% if resource_data|has_key:"Condition and Preservation" %}
         <section class="keeptogether">
            <hr>
            <h3>Condition and Preservation</h3>
            {% for item in resource_data|val_from_key:"Condition and Preservation" %}
               {% with state=item|val_from_key:"Condition Assessment"|val_from_key:"Condition State" %}
                  {% with c_type=state|val_from_key:"Condition Type"|val_from_key:"@display_value" %}
                     {% if c_type %}
                        <div class="data-table">
                           <div>Condition Type</div>
                           <div>: {{ c_type }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
                           
                  {% with d_type=state|val_from_key:"Disturbance Type"|val_from_key:"@display_value" %}
                     {% if d_type %}
                        <div class="data-table">
                           <div>Disturbance Type</div>
                           <div>: {{ d_type }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
                              
                  {% with t_type=state|val_from_key:"Threat Type"|val_from_key:"@display_value" %}
                     {% if t_type %}
                        <div class="data-table">
                           <div>Threat Type</div>
                           <div>: {{ t_type }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
               {% endwith %}
                           
               {% with pres=item|val_from_key:"Preservation"|val_from_key:"Preservation Status"|val_from_key:"@display_value" %}
                  {% if pres %}
                     <div class="data-table">
                        <div>Preservation Status</div>
                        <div>: {{ pres }}</div>
                     </div>
                  {% endif %}
               {% endwith %}

               {% with notes=item|val_from_key:"Condition and Preservation Description Assignment"|val_from_key:"Notes on Condition and Preservation"|val_from_key:"@display_value" %}
                  {% if notes %}
                     <div class="data-table">
                        <div>Condition notes</div>
                        <div>: {{ notes }}</div>
                     </div>  
                  {% endif %}
               {% endwith %}
            {% endfor %}
            </section>
         {% endif %}

         {# --- External Identifiers Section --- #}
         {% if resource_data|has_key:"External Identifier 4" %}

            <div class="h1-container">
               <h1>References</h1>
            </div>

            <section class="keeptogether">
               <h3>External Identifiers</h3>
               {% for item in resource_data|val_from_key:"External Identifier 4" %}
               <div class="data-table">
                  <div>External Xref</div>
                  <div>: {{item|val_from_key:"@display_value"}}</div>
               </div>
               
               <div class="data-table">
                  <div>External Source</div>
                  <div>: {{item|val_from_key:"External Source"|val_from_key:"@display_value"}}</div>
               </div>
               
               <div class="data-table">
                  <div>External Identifier Type</div>
                  <div>: {{item|val_from_key:"External Identifier Type"|val_from_key:"@display_value"}}</div>
               </div>
               
               {% with url=item|val_from_key:"External Identifier URL"|val_from_key:"@display_value"|json_to_obj|val_from_key:"url" %}
               {% if url %}
               <div class="data-table">
                  <div>URL</div>
                  <div>: {{ url }}</div>
               </div>
               {% endif %}
               {% endwith %}
               
               {% with x_desc=item|val_from_key:"External Reference Description Assignment"|val_from_key:"Note on External Reference or Source"|val_from_key:"@display_value" %}
               {% if x_desc %}
               <div class="data-table">
                  <div>Description</div>
                  <div>: {{ x_desc }}</div>
               </div>
               {% endif %}
               {% endwith %}
               {% endfor %}
            </section>   
         {% endif %}

         {# --- Citations Section --- #}
         {% if resource_data|has_key:"Citation 4" %}
            <section class="keeptogether">
               <hr>
               {% for item in resource_data|val_from_key:"Citation 4" %}
                     
                  <h4>Citation Apellation:</h4>
                     <p>{{item|val_from_key:"Citation Apellation"|val_from_key:"@display_value"}}</p>
                  </div>
                  
                  {% with c_url=item|val_from_key:"Citation URL"|val_from_key:"url" %}
                     {% if c_url %}
                        <div class="data-table">
                           <div>Citation URL</div>
                           <div>: {{ c_url }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
                  
                  {% with c_note=item|val_from_key:"Note on Citation"|val_from_key:"@display_value" %}
                     {% if c_note %}
                        <div class="data-table">
                           <div>Citation Description</div>
                           <div>: {{ c_note }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
               {% endfor %}
            </section>   
         {% endif %}

         {# --- Acknowledgement section --- #}
         {% if resource_data|has_key:"Acknowledgement" %}
            <section class="keeptogether">
               <div class="h1-container">
                  <h1>Acknowledgement</h1>
               </div>

               {% with partners=resource_data|val_from_key:'Acknowledgement'|val_from_key:'Country Partners'|val_from_key:"@display_value" %}
                  {% if partners %}   
                     <h4>Country Partners</h4>
                     <p class="content">{{ partners }}</p>
                  {% endif %}
               {% endwith %}

               {% with team=resource_data|val_from_key:'Acknowledgement'|val_from_key:'Team Members'|val_from_key:"@display_value" %}
                  {% if team %}   
                     <h4>Field Team Members</h4>
                     <p class="content">{{ team }}</p>
                  {% endif %}
               {% endwith %}

               {% with general=resource_data|val_from_key:'Acknowledgement'|val_from_key:'General Acknowledgement'|val_from_key:"@display_value"|safe %}
                  {% if general %}   
                     <h4>General Acknowledgement</h4>
                     <div class="content-container">
                        <p>{{ general }}</p>
                     </div>
                  {% endif %}
               {% endwith %}
            </section>
            
            <section">
               {% for desc in resource_data|val_from_key:"Description Assignment" %}
                  {% if desc|val_from_key:"Description Type"|val_from_key:"value" == "Acknowledgement" %}   
                     <div class="keeptogether">
                        <h4>{{desc|val_from_key:"Description Type"|val_from_key:"value"}}</h3>
                        <div class="content-container">
                           <p>{{ desc|val_from_key:"Description"|val_from_key:"@display_value"|safe }}</p>
                        </div>
                     </div>
                  {% endif %}
               {% endfor %}
            </section>

         {% endif %}
            
         {# --- Images --- #}
         {% if resource_data|has_key:"Information Carrier 2" %}
            <section class="keeptogether">
               <div class="h1-container">
                  <h1>{{ resource.displayname }}</h1>
                  <h1>Images</h1>
               </div>
                  
               {% for item in resource_data|val_from_key:"Information Carrier 2" %}

                  {% with caption=item|val_from_key:"Caption"|val_from_key:"@display_value" %}
                     {% if caption %}
                        <div class="data-table">
                           <div style="font-weight: bold">Caption</div>
                           <div>: {{ caption }}</div>
                        </div>
                     {% endif %}
                  {% endwith %}
                  
                  {% for file in item|val_from_key:"Information Carrier"|val_from_key:"file_details" %}
                     <div class="keeptogether">
                        {% with url=file|val_from_key:"url" %}
                           <h4>{{file|val_from_key:"name"}}</h4>
                           <img src="{{url}}">
                        {% endwith %}
                     </div>
                  {% endfor %}
               {% endfor %}
            </section> 
         {% endif %}

         {# --- ResourceID section --- #}
            <section class="keeptogether">
               <div class="h1-container">
                  <h1>Resource ID</h1>
               </div>
               <p class="content">{{ resource.resourceinstanceid }}</p>

            </section> 

         {# --- Related resources section --- #}
         {% if resource_data|has_key:"Related Site" %}
            <section class="keeptogether">
               <div class="h1-container">
                  <h1>Related Sites</h1>
               </div>
               <ul>
                  {% for linked_resource in resource_data|val_from_key:"Related Site"|val_from_key:"instance_details" %}
                  <li>
                     <a class="content" href="/resource/{{ linked_resource|val_from_key:'resourceId' }}">
                        {{linked_resource|val_from_key:"display_value"}}
                     </a>
                  </li>
                  {% endfor %}
               </ul>
            </section> 
         {% endif %}

      {% endwith %}
      {% endfor %}
      </main>
</body>
</html>